.App {
  text-align: center;
  background-color: #060813;
  color: #B9D6F2;
  height: 100%;
}

.navbar-bl {
  background-color: #060813;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-bl .nav-link {
  color: #B9D6F2;
}

.navbar-bl .nav-link:hover {
  color: #89043D;
}

.navbar-brand {
  font-family: "Audiowide";
  color: #89043D; 
}

.navbar-brand:visited {
  color: #89043D;
}

.navbar-toggler{
  box-shadow: none;
  border-color: #B9D6F2;
}

.collapsed{
  border-color: transparent;
}

#menu-button{
  color: #B9D6F2;
  border: none;
}

.emphasis{
  color: #89043D;
}

.hello-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -65vh;
  margin-bottom: 70vh;
  z-index: 5;
}

@media only screen and (max-width: 550px) {
  .hello-text {
    font-size: 5.5vw;
  }
  .navbar-nav {
    align-items: flex-end;
  }
}

@media only screen and (max-width: 280px) {
  .hello-text {
    font-size: 5vw;
  }
}

.hello-component {
  align-items: center;
  height: 100vh;
}

.particles-component {
  height: 92vh !important;
  z-index: -1;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}

.header {
  max-width: fit-content;
  padding: 1.5rem;
  border-bottom: 1px solid #B9D6F2;
}

.project-row {
  margin-top: 3rem;
  width: 65vw;
  height: fit-content;
}

.project-col {
  margin-bottom: 1.5rem;
}

.project-card {
  padding: 2.5rem;
  background-color: transparent;
  border: 1px solid #B9D6F2;
  height: 100%;
  min-width: 20vw;
  /* max-width: 25vw; */
}

.btn-primary {
  color: #B9D6F2;
  background-color: transparent;
  border: 1px solid #89043D;
  margin: 1rem;
  margin-bottom: 0rem;
  max-width: fit-content;
}

.btn-primary:hover {
  color: #B9D6F2;
  background-color: #89043D;
  border: 1px solid #89043D;
}

.btn-primary:focus {
  color: #B9D6F2;
  background-color: #89043D;
  border: 1px solid #89043D;
  box-shadow: none;
}

.hello-button{
  margin: 0;
  margin-top: 3rem;
}

.about-card {
  margin-top: 3rem;
  text-align: left;
  padding: 1rem;
  max-width: 70%;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #B9D6F2;
}

.link-cluster{
  width: 100%;
  display: flex;
  justify-content:flex-end;
  margin-bottom: 1.5rem;
}

.link-icon{
  padding: 3px;
  height: fit-content;
  color: #B9D6F2;
}

.link-icon:hover{
  color: #89043D;
}

.project-return {
  display: inline-block;
  width: 70vw;
  text-align: left;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
}

.project-return:hover {
  cursor:pointer;
}

.return-icon {
  color: #89043D
}

.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  padding: 0;
}

.project-page-accordion, .accordion-body, .accordion-header, .accordion-item {
  background-color: transparent;
}

.project-page-accordion {
  width: 70vw;
  margin-top: 2rem;
}

.accordion-header {
  border-bottom: 1px solid #B9D6F2;
}

.accordion-button {
  color: #B9D6F2;
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  color: #B9D6F2;
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  text-align: left;
}

.footer-container {
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-slug {
  min-height: 3rem;
}